name: Rerecord the reported issue

on:
  pull_request:
env:
  RECORD_REPLAY_API_KEY: rwk_yaEG8jo6gcisGHHoMj8SNoOMIHSbT7REuU5E1QnKCiL

jobs:
  preview-branch:
    name: Wait for Vercel Preview Branch
    runs-on: ubuntu-latest
    steps:
      - name: Waiting for 200 from the Vercel Preview
        uses: patrickedqvist/wait-for-vercel-preview@v1.3.1
        id: waitFor200
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          max_timeout: 960
          check_interval: 60
          environment: ${{ fromJSON('["", "production"]')[github.ref == 'refs/heads/main'] }}
    outputs:
      url: ${{ steps.waitFor200.outputs.url }}
  rerecord-issue:
    name: Rerecord the reported issue
    runs-on: ubuntu-latest
    needs: [preview-branch]
    timeout-minutes: 10
    steps:
      - name: Rerecord issue
        uses: replayio/action-rerecord@v0.0.6
        with:
          api-key: ${{ env.RECORD_REPLAY_API_KEY }}
          public: true
          include-summary: true
